.parent
{

width: 100vw;
height: 100vh;
display: flex;
flex-direction: row;
flex-wrap: wrap;

}

.boxblue_and_boxorange
{

display: flex;
flex-grow: 1;

}

.box
{

flex-grow: 1;

}
.box.blue, .box.orange
{

display: flex;
flex-basis: auto;
}
.box.blue
{

background-color: blue;

}

.box.orange
{

background-color: orange;

}

.box.red
{

background-color: red;

}

@media screen and (max-width: 900px)
{

    .box.red
    {
    
    flex-grow: 2;
    

    }

}

