.parent
{height: 100vh;}

.header
{

background-color: red;
position: fixed;

}

.nav 
{

width: 90%;
min-height: 80%;
max-height: 80%;
min-width: 90%;

}

.links 
{

height: 50%;
width: 30%;
min-width: 40rem;
justify-content: space-between;


}

.content
{height: 300rem;}

.text
{

height: 40rem;
max-height: 40rem;

}

.content-text
{

width: 26rem;
position: sticky;

}

.content-musk_pic
{

width: 20vw;
order: 2;

}

.content-text, .content-musk_pic
{height: 45vh;}

.musk-pic
{

background-image: url(elon_musk.PNG);
background-size: 300px;
background-repeat: no-repeat;
background-position:  center top;
width: 300px;
height: 300px;
margin: 45px 0px 0px 0px;

}

.content-musk_car_pic
{

height: 40vh;
width: 40vw;

}


.musk_car_pic
{

background-image: url(elon_car.PNG);
background-position: center;
background-size: 1000px;
background-repeat: no-repeat;
width: 800px;
height: 400px;
min-width: 400px;

}

.footer
{

height: 30vh;
max-height: 20vh;
font-family: sans-serif;

}

.text, .content-musk_car_pic, .footer
{

width: 100%;
max-width: 100%;

}

.parent, .header, .content, .footer, .nav, .links, .text, .content-text, .content-musk_pic, .content-musk_car_pic
{display: flex;}

.header, .nav, .content, .text, .content-musk_pic, .content-musk_car_pic
{justify-content: center;}

.header, .nav, .content, .text, .content-musk_pic, .content-musk_car_pic
{align-items: center;}

.parent, .content, .content-text
{flex-direction: column;}

.parent, .header, .content, .footer, .text
{

max-width: 100%;
width: 100%;

}


@media screen and (max-width: 900px)
{



}

