.parent
{

height: 100vh;
width: 100vw;
display: flex;
flex-direction: column;


}

.header
{

height: 10vh;
width: 100vw;
display: flex;
justify-content: center;
align-items: center;
background-color: red;

}

.nav
{
  
height: 80%;
width: 90%;
display: flex;
justify-content: center;
align-items: center;

}

.links
{

height: 50%;
width: 30%;
display: flex;
justify-content: space-between;

}

a
{

color: white;
font-size: 30px;
text-decoration: none;
min-width: 200px;

}

.a-hem
{

border-bottom: 10px solid black;
padding: 0px 0px 43px 0px;
min-width: 100px;
border-width: 100px;


}

a:hover
{


}

.content
{

display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width: 100vw;



}

.text
{

display: flex;
width: 65vw;
height: 70vh;



}

.text_text
{

display: flex;
flex-direction: column;
flex-wrap: wrap;
height: 40rem;
width: 50vh;



}


h1
{

font-size: 50px;
color: red;
height: 100px;
margin-left: 100px;

}

p, h3
{margin: 0px 50px 0px 100px;}

p
{font-size: 20px;}

h3
{
    
font-size: 50px;
margin-top: 20px;

}

.musk
{

width: 400px;
height: 400px;
background-image: url(elon_musk.PNG);
background-size: 400px;
background-repeat: no-repeat;
margin: 0;
order: 2;

}

.musk-car-pic
{

background-image: url(elon_car.PNG);
background-position: center;
background-size: 1000px;
background-repeat: no-repeat;
width: 800px;
height: 400px;

}

.footer
{

width: 100vw;
height: 20vh;

}

@media screen and (max-width: 900px)
{



}